@import "../../styles.scss";

:host {
    display: block;

    a {
        display: block;
        background-color: $lightGrey;
        padding: .5rem;
        text-decoration: none;

        &:nth-child(odd) {
            background-color: $grey;
        }

        &:visited {
            color: black;
        }

        &:hover {
            color: $lightBlue;
        }

        &.active {
            background-color: $lightBlue;
            color: #fff;
        }
    }
}
