@import "../../styles.scss";

:host {
    background-color: inherit;
    display: block;

    span {
        padding-left: .5rem;
    }

    popper-content {
        background-color: inherit;

        span.missing {
            color: $red;
        }
    }
}
